DJANGO_SECRET_KEY="secret-key"
DJANGO_DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost

DATABASE_URL=postgresql://mafia:mafia_dev_password@127.0.0.1:5432/mafia_db
DB_NAME=mafia_db
DB_USER=user
DB_PASSWORD=your-password
DB_HOST=localhost
DB_PORT=5432

REDIS_URL=redis://127.0.0.1:6379/0

GIGACHAT_AUTH_DATA=your-token